*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'DM Serif Display', serif;
}
body{
    background-color: #fcf3e6;
}
body::-webkit-scrollbar {
    width: 12px;
}
  
body::-webkit-scrollbar-track {
    background: #add8e675;
 }
  
body::-webkit-scrollbar-thumb {
    background-color: pink;
    border-radius: 20px;
}
a{
    text-decoration: none;
    color: #fff;
}
li.carrito-btn{
    color: #fff;
    cursor: pointer;
}
.logo{
    height: 4em;
    position: absolute;
    top: 5px;
    left: 15px;
    z-index: 1;
}
nav{
    height: 66.5px;
    background-color: pink;
    color: #000;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    right: 0;
    z-index: 4;
    border-bottom-left-radius: 50px;
    border: 1px solid #000;
}
ul{
    display: flex;
    flex-direction: row;
    align-items: center;
}
ul li{
    list-style: none;
    margin: 0.4em;
    font-size: 1.5em;
    padding: 0.2em;
    border-radius: 20px;
    transition: .3s;
}
ul li:hover{
    background-color: lightblue;
}
div.toggle-menu{
    display: none;
    height: 40px;
    position: fixed;
    top: 1em;
    right: 1em;
    z-index: 3;
    border-radius: 50%;
    background-color: pink;
}
div.toggle-menu img{
    max-height: 100%;
    cursor: pointer;
    filter: invert(1);
}

main h2{
    font-size: 3em;
    text-align: center;
}
section#menu{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    width: 100%;
    background-color: #fff;
    height: 60vh;
    align-items: center;
    border: 1px solid #000;
}
div.card{
    width: calc(80% / 4);
    margin: 0 10px 0 10px;
    border: 1px solid black;
    height: fit-content;
}
div.card img.img-menu{
    width: 100%;
}
div.card h3.menu-nombre{
    text-align: center;
    color: #000000;
    font-size: 1.5em;
    padding: 5px;
}
.items{
    width: 100%;
    margin-top: 20px;
}
.items h2{
    font-size: 3em;
}
.menu-items{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.item{
    position: relative;
    width: 15%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px;
    border: 1px solid #000;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
}
.item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.item-info{
    background-color: #ffd1d188;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: -100%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 1s;
}
.item:hover .item-info{
    right: 0;
    transition: 1s;
}
h3.item-nombre{
    text-align: center;
    font-size: 1.5em;
    color: #000;
}
p.item-descripcion{
    font-size: 1em;
    text-align: center;
    color: #000;
}
.item span{
    font-size: 1.3em;
    color: #000;
    padding: 2px;
    border-radius: 15px;
}
.item button{
    position: absolute;
    bottom: 5px;
    border: 1px solid #000;
    padding: 5px 10px;
    background-color: transparent;
    border-radius: 20px;
    margin-top: 20px;
    cursor: pointer;
}
.item button:hover{
    background-color: #FFD1D1;;
}
.tartas,
.cupcakes,
.tortas,
.bebidas{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: lightblue;
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
}
#tartas,
#cupcakes,
#tortas,
#bebidas{
    position: relative;
}
.arriba{
    height: 40px;
    width: 40px;
}
.arriba img{
    position: fixed;
    height: 40px;
    bottom: 10px;
    right: 10px;
}

/*carrito*/
div.carrito{
    position: fixed;
    overflow-y: scroll;
    top: 66.5px;
    right: 5px;
    width: 30vw;
    height: fit-content;
    max-height: 60vh;
    background-color: #fff;
    display: none;
    flex-direction: column;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 10px;
    z-index: 3;
    box-shadow: 0 0 20px #a1a1a1;
}
div.carrito::-webkit-scrollbar {
    width: 8px;
}
div.carrito::-webkit-scrollbar-track {
    background: #add8e675;
}  
div.carrito::-webkit-scrollbar-thumb {
    background-color: #fcf3e6;
    border: 1px solid black;
    border-radius: 20px;
}
div.carrito.mostrar-ocultar{
    display: flex;
}
div.carrito h2{
    text-align: center;
    font-size: 1.5em;
    color: pink;
}
div.item-carrito{
    padding: 5px 0 5px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
div.item-info-carrito h3{
    color: lightblue;
}
div.item-infocarrito p{
    font-size: 1em;
    color: #1a1a1a;
}
div.btn-eliminar{
    height: 25px;
    width: 25px;
    cursor: pointer;
    background-color: pink;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s;
}
div.btn-eliminar:hover{
    background-color: lightblue;
}
img.imgEliminar{
    height: 15px;
}
div.item-imagen-carrito{
    min-height: 100px;
    min-width: 100px;
    height: 100px;
    object-position: center;
    object-fit: cover;
}
div.item-imagen-carrito img{
    min-height: 100%;
    min-width: 100%;
    max-height: 100%;
}
div.item span.precio-carrito,
div.item span.cantidad-carrito{
    font-weight: 600;
}
/*----------------------------*/


@media screen and (max-width: 912px){
    section#menu{
        height: 30vh;
    }
    div.item-info span{
        font-size: 1em;
    }
    .item p{
        font-size: 0.8em;
    }
    div.item-info button{
        font-size: 0.8em;
        padding: 2px 6px;
    }
    div.item-info h3{
        font-size: 0.9em;
    }
    div.carrito{
        width: 45vw;
    }
}
@media screen and (max-width: 768px){
    nav{
        display: none;
    }
    nav.hidden{
        display: flex;
        width: 100vw;
        height: 10vh;
        z-index: 2;
        border-radius: 0;
        border: transparent;
    }
    div.toggle-menu{
        display: flex;
    }
    div.item{
        width: 30vw;
    }
    div.item img{
        max-width: 100%;
    }
    div.tartas,
    div.cupcakes,
    div.tortas,
    div.bebidas{
        border-radius: 0;
    }
    .item p{
        font-size: 0.8em;
    }
    div.carrito{
        width: 60vw;
    }
    
}
@media screen and (max-width: 450px){
    nav.hidden{
        height: 8vh;
    }
    section#menu{
        height: 20vh;
    }
    div.card h3.menu-nombre{
        font-size: 0.8em;
    }
    div.item-info h3{
        font-size: 0.8em;
    }
    div.item-info p{
        font-size: 0.7em;
    }
    div.item-info span{
        font-size: 0.7em;
    }
    div.item-info button{
        font-size: 0.5em;
    }
    div.carrito{
        width: 90vw;
    }
}
@media screen and (max-width: 280px){
    div.item-info h3{
        font-size: 0.6em;
    }
    div.item-info p{
        font-size: 0.5em;
    }
    div.item-info span{
        font-size: 0.6em;
    }
    div.item-info button{
        font-size: 0.4em;
    }
    div.carrito h2{
        font-size: 1em;
    }
}